<footer class="mt-5 py-3 text-center bg-light">
    <div class="container">
        <p>&copy; 2023 Movie Watchlist. All rights reserved.</p>
        <ul class="list-inline">
            <li class="list-inline-item">
                <a href="#"><i class="fas fa-shield-alt me-1"></i>Privacy Policy</a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fas fa-file-contract me-1"></i>Terms of Use</a>
            </li>
            <li class="list-inline-item">
                <a href="#"><i class="fas fa-envelope me-1"></i>Contact Us</a>
            </li>
        </ul>
        <div class="mt-3">
            <a href="#" class="text-dark me-3"><i class="fab fa-facebook fa-lg"></i></a>
            <a href="#" class="text-dark me-3"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="#" class="text-dark me-3"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="#" class="text-dark"><i class="fab fa-youtube fa-lg"></i></a>
        </div>
    </div>
</footer>