{% macro error_messages(errors) %}
    {% if messages %}
        {% for message in errors %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
{% endmacro %}